
@{
    ViewData["Title"] = "Test Page";
}
<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>

<h2>Test Page</h2>
<hr />
<div class="mt-2 col-md-6">
    <form method="POST">
        <div class="form-group">
            <input type="text" class="form-control" id="NameTxt" placeholder="Name" required>
        </div>
        @*<button type="submit" id="AddBtn" class="btn btn-primary">Submit</button>*@
    </form>

    <button type="submit" id="AddBtn" class="btn btn-primary">Submit</button>
</div>
<hr/>
<partial name="_ValueListPartial" />

@section scripts {
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        $(document).ready(function(){

            $('#AddBtn').click(function () {

                toastr.success('na soooo');
                //var name = $('#NameTxt').val();
                //$.ajax({
                //    type: 'POST',
                //    url: '/Home/AddValue',
                //    data: { name: name },
                //    success: function (result) {
                //        alertify.success('e don enter');
                //    },
                //    error: function (e) {
                //        alertify.error('Something Wrong');
                //    }
                //});
            });

            //var name = document.getElementById('NameTxt')
            //function AddValue(){
            //    $.ajax({
            //       type: "POST",
            //       url : "/Home/AddValue",
            //       data: "name",
            //       success: function(result){
            //           alert('success');
            //       }, 
            //       error : function(e){
            //           alert('error');
            //       }
            //    });
            //}
        });
    </script>
}