
@{
    ViewData["Title"] = "Test Page";
}
<div class="mt-2 col-md-6">
    <form action="#" method="post">
        <div class="form-group">
            <input type="text" class="form-control" id="NameTxt" placeholder="Name" required>
        </div>
        <button type="submit" onsubmit="AddValue()" class="btn btn-primary">Submit</button>
    </form>
</div>
<hr/>
<partial name="_ValueListPartial" />
<!-- @Html.Partial("_ValueListPartial") -->

@section scripts {
    <script>
        $(document).ready(function(){

            var name = document.getElementById('NameTxt')
            function AddValue(){
                $.ajax({
                   type: "POST",
                   url : "/Home/AddValue",
                   data: "name",
                   success: function(result){
                       alert('success');
                   }, 
                   error : function(e){
                       alert('error');
                   }
                });
            }
        });
    </script>
}